@import url('./main.css');
@import url('./page.css');

@font-face {
  font-family: 'OttineSlab';
  src: url('../fonts/OttineSlab-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #f4a259;
  --secondary: #f4e285;
  --terciary: #fa9500;
  --text: #111111;
  --bg: #ffdac6;
  --title-font: 'OttineSlab';
  --main-font: 'Inconsolata';
}

h1 {
  font-family: var(--title-font);
  letter-spacing: 4px;
  font-weight: 300;
  color: var(--primary);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text);
}