article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin-top: 2rem;
}

h1 {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 64px;
}

.links, .lista {
  padding: 0.5rem;
  background-color: var(--block-bg);
  border: 1px solid var(--primary);
  border-radius: 12px;
  justify-content: center;
}

li {
  padding-bottom: 0.7rem;
}

ul a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 6px;
  padding-right: 8px;
  position: relative;
}

ul a::before {
  content: '';
  background-image: url('../img/chef-heart-icon.svg');
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-40%);
  z-index: 1;
}

ul a:hover {
  cursor: pointer;
  color: var(--terciary);
}