body {
  margin: 20px;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  padding-bottom: 7px;
  border-bottom: solid 2px var(--terciary);
}

header h1 a {
  letter-spacing: 4px;
  font-weight: 300;
  color: var(--terciary);
  display: flex;
  align-items: center;
  font-size: 28px;
  gap: 5px;
}

.start {
  display: flex;
  gap: 20px;
}

.start div h1 {
  font-size: 26px;
  text-align: start;
}

.start div h3 {
  font-size: 18px;
  line-height: 21px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: 500;
}

h2 {
  font-family: var(--title-font);
  letter-spacing: 4px;
  font-weight: 300;
  color: var(--terciary);
  margin-top: 1.7rem;
  padding-bottom: 0.8rem;
}

.lista {
  padding: 0.8rem;
}

.ingredients h3 {
  font-family: var(--title-font);
  letter-spacing: 4px;
  font-weight: 300;
  color: var(--terciary);
  margin-top: 0.7rem;
  padding-bottom: 0.8rem;
}

